<header class="admin-header">
  <div class="inner">
    <a routerLink="/admin" class="brand">
      <img src="/recipehub-logo.svg" alt="RecipeHub" class="brand-logo" />
   </a>

    <nav class="nav-links">
      <a routerLink="/admin/recipes" routerLinkActive="active">Receitas</a>
      <a routerLink="/admin/categories" routerLinkActive="active"
        >Categorias</a
      >
    </nav>

    <button class="logout-button" type="button" (click)="logout()">
      Sair
    </button>
  </div>
</header>
