PORT=3001

DB_HOST=localhost
DB_PORT=3306
DB_USER=recipehub
DB_PASS=recipehub
DB_NAME=recipehub

JWT_SECRET=recipehub-super-secret-jwt-key
JWT_EXPIRES_IN=1d

# admin@recipehub.com / admin123
ADMIN_EMAIL=admin@recipehub.com
ADMIN_PASSWORD_HASH=$2b$10$1lHInb7ldlgLQ90mtbtwjeKvMbGbC60Hscls4fw0O0LBygzPtpuPm

CORS_ORIGIN=http://localhost:4200
