<header class="public-header">
  <div class="inner">
    <a routerLink="/recipes" class="brand">
      <img src="/recipehub-logo.svg" alt="RecipeHub" class="brand-logo" />
    </a>

    <nav class="nav-links">
      <a routerLink="/recipes" routerLinkActive="active">Receitas</a>
      <a routerLink="/admin" routerLinkActive="active">Admin</a>
    </nav>

    @if (!isAuthenticated) {
      <a routerLink="/login" class="enter-button"> Entrar </a>
    }
    @if (isAuthenticated) {
      <button type="button" class="enter-button" (click)="logout()">Sair</button>
    }
  </div>
</header>
