<header class="public-header">
  <div class="inner">
    <a routerLink="/recipes" class="brand">
      <img src="/recipehub-logo.svg" alt="RecipeHub" class="brand-logo" />
    </a>

    <nav class="nav-links">
      <a routerLink="/recipes" routerLinkActive="active">Receitas</a>
    </nav>

    @if (!isAuthenticated) {
      <a routerLink="/login" class="enter-button"> Entrar </a>
    }
    @if (isAuthenticated) {
      <a routerLink="/admin" class="user-chip">
        <mat-icon>account_circle</mat-icon>
        <span>Olá!</span>
        <mat-icon>chevron_right</mat-icon>
      </a>
    }
  </div>
</header>
